body {
    background-color: #161616;
    color: white;
    transition: background-color 0.5s ease;
    overflow: hidden;
}


.w-img {
    border: 2px solid #000;
    border-radius: 50px;
    height: 45px;
    width: auto;
    cursor: not-allowed;
}

.g-img{
    border: 2px solid #000;
    border-radius: 50px;
    height: 45px;
    width: auto;
    cursor: pointer;

}

.b-img {
    border: 2px solid #E0E0E0;
    border-radius: 50px;
    height: 45px;
    width: auto;
    cursor:  not-allowed;
}

.text-wrap {
    position: relative;
    width: 100%;
    height: 500px;
}



.text-wrap img:nth-child(40) {
    transform: translate(200px, 40px);
}

.text-wrap img:nth-child(10n + 2) {
    transform: translate(-20px, 10px);
}
.text-wrap img:nth-child(10n + 3) {
    transform: translate(-20px, 10px);
}
.text-wrap img:nth-child(10n + 4) {
    transform: translate(-20px, 10px);
}
.text-wrap img:nth-child(10n + 5) {
    transform: translate(-40px, 20px);
}
.text-wrap img:nth-child(20n + 1) {
    transform: translate(30px, 10px);
}
.text-wrap img:nth-child(20n + 2) {
    transform: translate(-30px, 10px);
}
.text-wrap img:nth-child(20n + 3) {
    transform: translate(30px, 10px);
}
.text-wrap img:nth-child(20n + 4) {
    transform: translate(-20px,0px);
}
.text-wrap img:nth-child(30n + 2) {
    transform: translate(-20px, 10px);
}
.text-wrap img:nth-child(30n + 3) {
    transform: translate(80px, 10px);
}
.text-wrap img:nth-child(5n + 2) {
    transform: translate(10px, 10px);
}
.text-wrap img:nth-child(3n + 2) {
    transform: translate(10px, 0px);
}
.text-wrap img:nth-child(9n + 2) {
    transform: translate(80px, 5px);
}
.text-wrap img:nth-child(3) {
    transform: translate(-300px, 5px);
}
.text-wrap img:nth-child(1) {
    transform: translate(300px, 100px);
}
.text-wrap img:nth-child(63) {
    transform: translate(250px, 0px);
}
.text-wrap img:nth-child(39) {
    transform: translate(250px, 0px);
}
.text-wrap img:nth-child(57) {
    transform: translate(200px, 0px);
}
.text-wrap img:nth-child(83) {
    transform: translate(400px, 0px);
}
.text-wrap img:nth-child(89) {
    transform: translate(20px, 40px);
}
.text-wrap img:nth-child(94) {
    transform: translate(900px, 0px);
}
.text-wrap img:nth-child(55) {
    transform: translate(50px, 0px);
}
.text-wrap img:nth-child(45) {
    transform: translate(50px, 0px);
}
.text-wrap img:nth-child(75) {
    transform: translate(50px, 0px);
}
.text-wrap img:nth-child(76) {
    transform: translate(50px, 0px);
}
.headline {
    position: relative;
    display: inline-block;
    cursor: pointer;
    color: white;
}


.headline::after {
    content: "소문이 퍼질수록 점점 왜곡되고 비난이 쏟아지는 사회를 표현했습니다.\A자극적인 말들 사이에서 위로가 되는 말을 찾아보세요."; /* 표시할 텍스트 */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    line-height: 2;
    z-index: 1000;
    transition: opacity 0.1s ease-in, visibility 0s 0.1s; 
    white-space: pre; 
    text-align: center;
}


.headline:hover::after {
    opacity: 1; 
    visibility: visible; 
    transition: opacity 0.1s ease-out; 
}